.card {
    float: left;
    width: 240px;
    margin: 30px;
    padding: 10px 10px 30px;
    background-color: white;
    color: rgb(51, 51, 51);
    border-radius: 10px;
    box-shadow: 0 8px 10px rgba(12, 24, 44, 0.2), 0 2px 5px rgba(12, 24, 44, 0.2);
    box-sizing: border-box;
}

.mission {
    background-color: #eee;
    border-radius: 10px;
    width: 180px;
    padding: 15px 10px;
    margin: 0 auto 20px;
}

.mission p:first-child {
    font: 900 12px/24px montserrat;
    padding: 0;
    margin: 10px auto 10px;
}

.mission p:nth-child(2) {
    font: 400 12px/30px montserrat;
}

.mission input {
    margin: 10px 0;
    border-radius: 20px;
    border: 1px solid rgba(167, 167, 167, 0.3);
    height: 22px;
}

input[type=button] {
    font: 900 12px/24px montserrat;
    background: none;
    border: none;
    color: #cc361f;
    cursor: pointer;
}