.Person {
    width: 400px;
    margin: 20px auto;
    padding: 10px 10px 30px;
    background-color: rgb(57, 96, 168);
    color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(12, 24, 44, 0.5);
    box-sizing: border-box;
}