.Person {
    width: 400px;
    margin: 20px auto;
    padding: 10px 10px 30px;
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(32, 54, 92, 0.3);
    box-sizing: border-box;
}